/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

/* Asides */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* Comments */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
	display: block;
}

.entry-content{
width: 95%;
}

body{
	&:not(.page-template-about):not(.home):not(.about):not(.archive-product){
		.content-area{     //page content on left, not sidebar//
			padding-top: 5%;
			padding-bottom: 10%;
		}
	}
}

body{     //all of page content//
	&:not(.home):not(.page-id-73){
		.site-content{ 
			width: 80%;
			display: flex;
			margin: 0 auto;
		}
	}
}



.p2{
	font-size: 30px;
	text-transform: uppercase;
}

.findus_info{
	font-size: 18px;
}

.wpcf7-validates-as-required, .wpcf7-text{
	height: 40px;
	width: 390px;
}

.your-name input, .your-email input, .your-subject input, .your-message textarea, #comment, #author, #email, #url{
	border-radius: 0;
	border-width: 1px;
	background-color: #f4f4f4;
}

.wpcf7-form-control.wpcf7-submit{
	text-transform: uppercase;
	width: 110px;
	height: 40px;
	background-color: $tertiary_color;
	box-shadow: none;
	color: white;
	border-radius: 0;
	font-weight: lighter;
}

.contact_decor, .required{
	color: #d99054;
	font-size: 20px;
}

.wpcf7-form label, .comment-form-comment, .comment-form-author, .comment-form-email, .comment-form-url{
	text-transform: uppercase;
}

.container{
	width: 100%;
}

.frontpage_journal_container{
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	padding-top: 40px;
	padding-bottom: 50px;
	
}

//                             STYLES FOR JOURNAL ENTRIES

.indiv_journal_post{
	width: 365px;
	height: 415px;
	border: 1px $border_color solid;
	position: relative;
	line-height: 0;

	.journal_post_text{
		border-top: $border-color 5px solid;
		padding: 10px;
		box-sizing: border-box;
		line-height: 1.5;

		p{
			margin: 0;
			font-size: 13px;
			padding-top: 5px;
		}

		a{
			font-weight: bold;
			font-size: 20px;
			line-height: 1.35;
			letter-spacing: 2px;
		}
	}

		img{
			height: 250px;
		}

		a{
			text-decoration: none;
			text-transform: uppercase;
			color: $tertiary_color;
		}

		.read_entry_button{
			height: 40px;
			width: 140px;
			position: absolute;
			left: 12px;
			bottom: 12px;

			a:hover{
				color: $footer_text_color;
				background-color: $tertiary_color;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				border: 1px $tertiary_color solid;
			}

			a{
				display: flex;
				justify-content: center;
				align-items: center;
				color: black;
				border: 1px solid black;
				height: inherit;
				width: inherit;
			}
		}
}
	

//                         STYLES FOR ADVENTURE FRONT PAGE


.frontpage_adventures{
	width: 80%;
	margin: 0 auto;
	padding-top: 40px;
}

.adv_container{
	width: 100%;
	display: flex;
	height: 540px;

	.adv_post_1{
		border-right: 10px solid $footer_text_color;
		width: 50%;
		padding-left: 25px;
		background-size: cover;
		background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../assets/adventure-photos/canoe-girl.jpg)center/cover;
	 }

	 .adv_container2{
		 display: flex;
		 flex-wrap: wrap;
		 width: 50%;

		.adv_post_2, .adv_post_3, .adv_post_4{
			padding-left: 25px;
			width: 100%;
			height: 50%;
			box-sizing: border-box;
		}

		.adv_post_2{
			border: 10px solid $footer_text_color;
			border-top: 0;
			border-right: 0;
			background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../assets/adventure-photos/beach-bonfire.jpg) center/cover;
			h4{
				font-size: 40px;
				line-height: 50px;
			}
		}

		.adv_post_3{
			border: 10px solid $footer_text_color;
			border-bottom: 0;
			width: 50%;
			background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../assets/adventure-photos/mountain-hikers.jpg) center/cover;
			h4{
				font-size: 30px;
				line-height: 35px;
			}
		}

		.adv_post_4{
			border: 10px solid $footer_text_color;
			border-bottom: 0;
			border-right: 0;
			width: 50%;
			background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../assets/adventure-photos/night-sky.jpg)center/cover;
			h4{
				font-size: 30px;
				line-height: 35px;
			}
		}
	}

	h4{
		font-size: 50px;
		text-transform: capitalize;
		color: $footer_text_color;
		font-weight: normal;
		text-align: left;
		margin-top: 45px;
		line-height: 60px;
		margin-bottom: 40px;
		letter-spacing: 2px;
	}

	.journal_readme_button{
		height: 45px;
		width: 140px;
		background-color: transparent;

		a{
			text-decoration: none;
			text-transform: uppercase;
			color: $footer_text_color;
			border: 1px solid $footer_text_color;
			width: inherit;
			height: inherit;
			display: flex;
		  justify-content: center;
		  align-items: center;
		}

		a:hover{
			color: $footer_text_color;
			background-color: $tertiary_color;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px $tertiary_color solid;
		}
	}	
}

.more_adv_button{
	color: $footer_text_color;
	background-color: $tertiary_color;
	margin-top: 30px;
	margin-bottom: 65px;
	width: 230px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	p{
		text-transform: uppercase;
		font-size: 18px;
		margin: 0;
	}
}

.page-id-73{
	width: 100%;
}

.page-id-73{       //about page
	.entry-title{
		color: $footer_text_color;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 50px;
	}

	.custom-hero{
		position: relative;
	}

	.entry-content{
		width: 55%;
		margin: 0 auto;
		padding: 20px 0;
		
		h2{
			font-size: 32px;
			margin-bottom: 0;
		}

		P{
			line-height: 28px;
		}
	}
}

// BLOG STYLES

.blog, .archive, .single{
	.content-area{
		width: 80%;
	}

	.widget-area{
		width: 350px;
	}
}

.post_container{
	position: relative;
	width: 95%;

	.wp-post-image{
		width: 100%;
		height: 100%;
	}

	.content_title{
		width: 75%;
		position: absolute;
		background-color: $tertiary_color;
		top: 35px;
		left: 0;
		display: flex;
		align-items: center;

		a{
			text-decoration: none;
			color: $footer_text_color;
			font-size: 32px;
			letter-spacing: 3px;
		}

		h2{
			margin: 20px 0;
			padding-left: 20px;
			text-align: left;
		}
	}

	.entry-meta{
			background-color: $tertiary_color;
			color: $footer_text_color;
			width: 50%;
			right: 0;
			bottom: 7px;
			position: absolute;
			text-align: center;
		}
}

.post_readmore_button{
	width: 160px;
	padding-bottom: 40px;

	a{
		text-transform: uppercase;
		height: 40px;
		color: black;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 1px solid black;
		text-decoration: none;
	}

	a:hover{
		display: flex;
		justify-content: center;
		align-items: center;
		color: $footer_text_color;
		background-color: $tertiary_color;
		border: 0;
	}
}

.single{
	h2{
		color: $footer_text_color;
	}
	
	.comments-link a{
		text-decoration: none;
		color: $footer_text_color;
	}

	.entry-footer{
		text-transform: uppercase;

		span{
			padding-right: 30px;

			a{
				color: $tertiary_color;
				text-transform: none;
				text-transform: uppercase;
			}
		}
	}

	.post-navigation{
		display: none;
	}

	.post_social{
		display: flex;
		margin-top: 30px;
		width: 330px;
		height: 40px;

		div{
			display: flex;
			justify-content: center;
			align-items: center;
			border: 1px solid black;

			a{
				text-decoration: none;
				text-transform: uppercase;
				color: black;
			}
		}

		.social_fb{
			width: 100px;
		}
		.social_tweet{
			width: 130px;
			margin: 0 5px;
		}
		.social_pin{
			width: 100px;
		}
	}
}

.comment-reply-title{
	margin-top: 100px;
	color: $color__text-main;
	font-size: 30px;
	text-align: left;
}

.comment-form-comment{
	width: 95%;
}

.comment-form-author, .comment-form-email{
	width: 40%;
	display: inline-block;
}

.comment-form-email{
	margin-left: 65px;
}

.comment-form-url{
	display: inline-block;
	width: 95%;

	#url{
		width: 100%;
	}
}

#author, #email{
	width: 385px;
}

#submit{
	text-transform: uppercase;
	width: 110px;
	height: 40px;
	background-color: $tertiary_color;
	box-shadow: none;
	color: white;
	border-radius: 0;
	font-weight: lighter;
}

.widget.widget_text .widget-title, .widget.widget_archive .widget-title{
	color: #404040;
}

.comment-list{
	width: 90%;
}

.comment-body{
	display: flex;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px lightgray solid;

	.avatar.avatar-64.photo{
		border-radius: 50px;
		margin-right: 25px;
	}

	.comment-author.vcard{
		font-weight: bold;
	}

	.comment-reply-link{
		color: #248a83;
		text-decoration: none;
	}	
}

.post-type-archive, .tax-product-type{

	.content-area{
		width: 100%;
	}

	#primary{
		padding-bottom: 50px;
	}

	.site-main{
		margin: 0 auto;
		border-bottom: 1px dashed #c8c8c8;
	}

	#content{
		display: block;
	}

	.frontpage_product_types{
		display: flex;
		justify-content: center;

		.indiv_product_type{
			border: none;
			width: 50px;
			margin: 0 20px;
			font-size: 16px;
	
			a{
				background-color: #FFF;
				color: $tertiary_color;
			}
		}
	}

	.products_grid{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;

		img{
			height: 250px;
		}

		.entry-header{
			height: 250px;
		}

		article{
			width: 23%;

			h2{
				font-weight: normal;
				font-size: 16px;
			}
		}

		.entry-content{
			border: 1px $border_color solid;
			height: 50px;
			margin: 0;
			width: 100%;
			position: relative;
		}

		.product_info{
			position: absolute;
			width: 100%;
			text-align: center;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
	
			h2,p{
				margin: 0;
				display: inline;
			}

			.dots{
				display: inline-block;
				overflow: hidden;
				max-width: 20px;
				line-height: 10px;
			}
		}
	}
}

.error404{

	.content-area{
		width: 80%;

		h1,h2,ul{
			text-align: left;
		}

		ul{
			list-style: none;
			margin: 0;
			padding: 0;

			a{
				text-decoration: none;
				color: $tertiary_color;
			}
		}

		fieldset{
			padding-left: 0;
		}

		.search-field{
			margin: 0;
			padding: 0;
			width: 200px;
			border: 1px solid $border_color;
			background-color: #f4f4f4;
		}
	}

	.widget-area{
		width: 350px;
	}
}

.search-results{
	.content-area{
		width: 80%;

		h1{
			margin-bottom: 50px;
			border-bottom: 1px $border_color solid;
			height: 70px;
		}

		h1,h2{
			text-align: left;

			a{
				text-decoration: none;
				color: $tertiary_color;
			}
		}
		.post_readmore_button{
			margin-bottom: 50px;
		}
	}

	.widget-area{
		width: 350px;
	}
}