.site-footer{
  background-image: url(../../assets/dark-wood.png);
  height: 340px;
}

.footer_info{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
}

.footer_contact_info, .footer_hours{
  width: 25%;
}

.footer_contact_info i{
  padding-right: 10px;
  font-size: 30px;
}

.footer_contact_info li, .footer_contact_info ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_logo_container{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.inhab_logo{
  width: 50%;
}