.site-footer{
  background-image: url(../../assets/dark-wood.png);
  height: 350px;
}

.footer_info{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;
  height: 280px;
}

.footer_contact_info, .footer_hours{
  width: 25%;
  color: $footer_text_color;
}

.footer_contact_info a{
  color: $footer_text_color;
}

.footer_contact_info i{
  padding-right: 10px;
  font-size: 20px;
}

.footer_contact_info li, .footer_contact_info ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer_logo_container{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.inhab_logo{
  width: 50%;
}

h3{
  font-weight: bold;
  color: $footer_header_color;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer_hours span{
  font-weight: bold;
}

.footer_copyright{
  color: $footer_text_color;
  text-align: center;
}