.site-description{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.site-header{
  width: 100%;
  position: fixed;
  background-color: hsla(0,0%,100%,.85); 
  border-bottom: 1px solid $border_color;
}

.header_container{
  width: 80%;
  height: 50px;
  display: flex;
  margin: 0 auto;
}

.main-navigation, .main-navigation a{
  color: $tertiary_color;
  text-transform: uppercase;
  padding: 0 15px;
}

.main-navigation{
  padding-right: 0;
}

.header_logo_container{
  width: 50%;
  display: flex;
  align-items: center;
}

.header_minitent_logo{
  width: 25%;
  display: flex;
}

.main-navigation{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 50%;
}

.hero_banner{
  background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../assets/home-hero.jpg) no-repeat top;
  background-size: cover;
  height: 100vh;
}

.frontpage_product_types{
  color: red;
}