.site-description{
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}

.site-header{
  width: 100%;
  position: fixed;
  background-color: hsla(0,0%,100%,.85); 
  border-bottom: 1px solid $border_color;
  z-index: 99;
}

.header_container{
  width: 80%;
  height: 40px;
  display: flex;
  margin: 0 auto;
}

.header_logo_container{
  width: 50%;
  display: flex;
  align-items: center;
}

.header_minitent_logo{
  width: 25%;
  display: flex;
}

.main-navigation{
  padding-right: 0;  
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hero_banner{
  background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),#969696 url(../../assets/home-hero.jpg) no-repeat top;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.frontpage_product_types{
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.product_type_icon{
  height: 70px;
}

.shop_stuff{
  width: 80%;
  margin: 0 auto;
  padding: 50px 0;

  h1{
    padding-bottom: 40px;
  }
}

.indiv_product_type{
  padding-top: 10px;
  width: 270px;
  display: flex;
  flex-direction: column;
  border: 1px $border_color solid;
  border-top: 5px $border_color solid;
  box-sizing: inherit;

  p{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding: 30px 0;
  }

  a{
    text-decoration: none;
    color: $footer_text_color;
    background-color: $tertiary_color;
    width: 50%;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
}

.shop_stuff h1{
	text-align: center;
}

.shop_stuff_button{
  text-transform: uppercase;
}

.entry-title{
  margin-top: 0;
  // height: 100vh;
  // width: 100vw;
}

.custom-hero{
  height: 100vh;
  width: 100%;
}